.experience {
    margin-top: 13px;
}

.experiencie__box {
    margin: 0 32px 64px 32px;
}

.experiencie__box img {
    margin-bottom: 16px;
    width: 100%;
}

.experience__info h2 {
    font-weight: 700;
    font-size: 16px;
}
.experience__info h3 {
    font-weight: 500;
    font-size: 14px;
}

.experience__description {
    display: flex;
}

.experiencia__botao__repo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    box-sizing: border-box;
}

.experience__botao__demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin-left: 16px;
    border: 1px solid #2A7AE4;
    background: #2A7AE4;
    color: white;
}

