*{
    background:#F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
    
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
    
}
.title-header
{
    text-align: center;
    font: "Inter";
    color: #495057;
    font-size: 50px;
    
}

.text-area {
    height: 400px;
    border: none;
    color: #495057;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: #495057; }
  .text-area:focus {
      outline: none;
    }

.mensaje{
    height: 630px;
    background: white;
    background-image: url("/assets/result.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #495057;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #7DCEA0;
    border: 1px solid #ABEBC6;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #7DCEA0;
    border: 1px solid #ABEBC6;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar {
    background-color: #7DCEA0;
    border: 1px solid #ABEBC6;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 565px;
    position: absolute;
    width: 336px;
}

.informacion {
    color: #495057;
    text-decoration:underline;
    font-size:18px;
}